<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Server</title>
{{/*<link rel="stylesheet" type="text/css" href="Semantic-UI/dist/semantic.min.css">*/}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <script src="Semantic-UI/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">


</head>


<body>
<div id="header" class="ui container">
{{template "menu"}}
</div>

<div class="ui container" style="margin-top: 16px">
    <div id="container" class="ui link cards">

    </div>
</div>


<div id="config" class="ui modal">
    <div class="header">Header</div>
    <div class="content">

        <div class="ui labeled fluid icon input">
            <div class="ui label">
                Name
            </div>
            <input name="Name" type="text" placeholder="Name"/>
        </div>
    </div>
    <div class="content">
        <div class="ui labeled fluid icon input">
            <div class="ui label">
                Password
            </div>
            <input name="Password" type="text" placeholder="Password"/>
        </div>
    </div>
    <div class="content">
        <div class="ui labeled fluid icon input">
            <div class="ui label">
                Host
            </div>
            <input name="Host" type="text" placeholder="Host"/>
        </div>
    </div>
    <div class="content">


        <div class="ui labeled fluid icon input">
            <div class="ui label">
                Bind
            </div>
            <input name="Bind" type="text" placeholder="Bind"/>
        </div>
    </div>

    <div class="actions">
        <div class="ui approve button">Approve</div>
        <div class="ui button">Neutral</div>
        <div class="ui cancel button">Cancel</div>
    </div>
</div>

<script>


    // Docker_name,
    // Docker_id,
    // Docker_create_user,
    // Docker_password,
    // Host,
    // Bind,
    // Docker_volume,
    // Docker_info,
    // Create_time,
    // Update_time,
    // Delete_flag
    //引数ここまで

    var info = [];

    function btn(Id) {
        //このエラーをとりあえず放置
        if (info.length === 0) {
            return;
        } else {
            var items = info;
        }


        //[{}]こんなのが返ってくる
        var result = items.filter(function (value) {
            return value.Id === Id;
        });
        //配列にする
        result = result[0];

        console.log(result.Docker_password.String);

        var name = $('input[name="Name"]').val(result.Docker_name.String);
        var password = $('input[name="Password"]').val(result.Docker_password.String);
        var host = $('input[name="Host"]').val(result.Host.String);
        var Bind = $('input[name="Bind"]').val(result.Bind.String);

        console.log(result);

        $(".ui.modal").modal('show');
    }


    function ListGet(url) {
        $.ajax({
            type: 'GET',
            url: url,
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                info = data;
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    var html = '<div class="card"><div class="image"><img src="/static/image/docker.png"></div><div class="content"><div class="header">' + data[i].Docker_name.String + '</div><div class="meta"><a target="_blank" href="' + "http://192.168.111.146:" + data[i].Host.String + '">192.168.111.146:' + data[i].Host.String + '</a></div><div class="description">' + data[i].Docker_info.String + '</div></div><div class="extra content"><span class="right floated"><button class="ui inverted red button">Delet</button></span><span><button id="config" class="ui inverted blue button" onclick="btn(' + data[i].Id + ')">Config</button></span></div></div>';

                    $('#container').append(html);
                }
            }
        });
    }

    $(function () {
        ListGet("/list")
    });
</script>
</body>
</html>